<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>UserManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailIsPresent</display-name>
    <servlet-name>CheckEmailIsPresent</servlet-name>
    <servlet-class>servlet.CheckEmailIsPresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailIsPresent</servlet-name>
    <url-pattern>/CheckEmailIsPresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllUser</display-name>
    <servlet-name>ShowAllUser</servlet-name>
    <servlet-class>servlet.ShowAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllUser</servlet-name>
    <url-pattern>/ShowAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserAddress</display-name>
    <servlet-name>GetAllUserAddress</servlet-name>
    <servlet-class>servlet.GetAllUserAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserAddress</servlet-name>
    <url-pattern>/GetAllUserAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfile</display-name>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>servlet.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserAddress</display-name>
    <servlet-name>DeleteUserAddress</servlet-name>
    <servlet-class>servlet.DeleteUserAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserAddress</servlet-name>
    <url-pattern>/DeleteUserAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserDetails</display-name>
    <servlet-name>GetAllUserDetails</servlet-name>
    <servlet-class>servlet.GetAllUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserDetails</servlet-name>
    <url-pattern>/GetAllUserDetails</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/Registration</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserProfile</display-name>
    <servlet-name>DeleteUserProfile</servlet-name>
    <servlet-class>servlet.DeleteUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserProfile</servlet-name>
    <url-pattern>/DeleteUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserProfile</display-name>
    <servlet-name>GetAllUserProfile</servlet-name>
    <servlet-class>servlet.GetAllUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserProfile</servlet-name>
    <url-pattern>/GetAllUserProfile</url-pattern>
  </servlet-mapping>
</web-app>